<%= form_for @deliverable, :remote => true, :html => {:'data-type' => 'html', :class => 'form-horizontal' } do |f| %>
    <div class="control-group">
      <%= f.label :due_date, :class => 'control-label' %>    
      
      <div class="controls">
	      <div class="input-append date datepicker" id="dp3" data-date="<%= Date.today.to_s %>" data-date-format="yyyy-mm-dd">
	      	<%= f.text_field :due_date, :class => 'datetime_select', :disabled => true %>
			  <span class="add-on"><i class="icon-th"></i></span>
			</div>
	   </div>
    </div>

    <div class="control-group">
      <%= f.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :description, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :is_template, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :is_template, :class => 'checkbox' %>
      </div>
    </div>	
    
    <%= f.hidden_field :phase_id, :value => @deliverable.phase_id %>
	   
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <a href="#" class="btn"  data-dismiss="modal">Cancel</a>
    </div>
<% end %>