	<li>
			<%= best_in_place d, :description, :type => :input, :ok_button => 'OK', :cancel_button => 'Cancel' %>	
			<%= '(Complete)' if d.complete? %>
			<%= link_to raw("<i class=\"icon-trash icon-white\"></i>"), deliverable_path(d.id), :remote => true, :method => :delete, :confirm => 'Are you sure?', :class => 'delete-deliverable btn-small btn-danger' %>
		<br />
		<p><em>Budget:</em> <%= d.budget %></p>
		
		<strong>Tasks</strong>
			<ul class="task-list">
				<% if d.tasks.count > 0 %>
					<% d.tasks.each do |t| %>
						<%= render :partial => 'tasks/item', :locals => {:task => t} %>	
					<% end %>
				<% end %>
			</ul>
			<div class="task-form" style="display: none">
				<%= render :partial => 'tasks/form', :locals => {:owner => d } %>
			</div>
			
			<div class="add-task-box">
				<%= link_to raw("<i class=\"icon-plus icon-white\"></i> Add a task"), 'javascript:void(0)', :class => 'add-task btn-small btn-primary' %>
			</div>
		
	</li>